<div class="px-4 py-5 my-5 text-center">
  <svg class="icon" id="logo-home">
    <use xlink:href="#logo"></use>
  </svg>
    <h1 class="display-5 fw-bold">Bem vindo ao SotaLab</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Agilize sua produção ciêntifica usando ferramentas que automatizam todo
        o processo de produção de um artigo ciêntífico, dissertação, tese ou monografia.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Registre-se</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Entre</button>
      </div>
    </div>
  </div>