<div class="card">
  <div class="card-header">
    <h1 class="card-title"><%= @project.name %></h1>
  </div>
  <div class="card-body">
    <%= @project.description || 'Projeto sem descrição' %>
  </div>
</div>

<div class="actions-buttons my-2">
  <%= link_to t('edit'), edit_project_path(@project), class: "btn btn-primary" %>
  <%= link_to t('back'), projects_path,class: "btn btn-secondary" %>
</div>

